<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .login {
            text-align: left;
            width: 100px;
            display: flex;
        }

    </style>
</head>
<body>
<div class="login">

    <label for="username"></label><input type="text" id="username" placeholder="用户名">
    <label for="password"></label><input type="password" id="password" placeholder="密码">
    <input type="button" id="login" name="登录" value="登录" onclick="">
</div>

<script>

    function login() {

    }
</script>

</body>

</html>