.login-div {
    background-color: brown;
}

/*类选择器*/
.big {
    font-size: 100px;
}

/*类选择器*/
.red {
    color: red;
}

/*id选择器*/
#test {
    color: brown;
}

/*交集选择器*/
span#join {
    color: blue;
}

/*交集选择器*/
.join#join {
    font-size: 100px;
}

/*交集选择器*/
span.join#join {
    background-color: aquamarine;
}

/*并集选择器*/
.or,
.or1,
#select-id,
p {
    background-color: darkgreen;
}


/*后代选择器*/
ul li {
    background-color: lime;
}

ol li a {
    background-color: darkolivegreen;
}

/*子代选择器*/
div > a {
    background-color: crimson;
}

/*兄弟选择器*/
hr + a {
    background-color: dodgerblue;
}

/*兄弟选择器*/

link ~ a {
    background-color: burlywood;
}

/*属性选择器*/
[title="s"] {
    background-color: darkviolet;
}


/*伪类选择器*/
a:link {
    color: rgba(255, 220, 220, 0.88);
}

a:visited {
    color: #14addc;

}

a:hover {
    color: chartreuse;

}

a:active {
    color: cornflowerblue;

}

input:focus {
    background-color: blanchedalmond;
}

/*div下的所有a子元素的第一个*/
div > a:first-child {

}

/*div下的所有子元素的第一个并且时a的元素*/
div > a:first-child {

}

/*任意父元素下第一个，且是a的元素*/
a:first-child {

}

a:last-child {

}

/*任意父元素下第2个，且是a的元素*/
a:nth-child(2) {

}

/*任意父元素下所有a元素*/
a:nth-child(n) {

}

/*任意父元素下偶数元素*/
a:nth-child(2n) {
}

a:nth-child(2n+1) {
}

/*a标签的第一个*/
a:first-of-type {

}

a:nth-last-of-type(1n+2) {

}

a:only-child {

}

a:only-of-type {

}

div:empty {

}

/*否定选择器，*/
div > a:not(.join) {

}

/*否定选择器，*/
div > a:not([title^="你好"]) {

}


div > a:not(:first-of-type) {

}

div > a:not(:first-child) {

}

input:checked {

}

input:focus {

}

/*结合锚点 #id*/
/*目标伪类*/
div:target {

}

/*语言伪类*/
div:lang(en) {

}

:lang(en) {

}