.login-div {
    float: left;

    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

html {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}